version: "3.9"

services:
  db:
    image: postgres
    container_name: todo-db
    env_file: envs/db.env
    restart: unless-stopped
    ports:
      - "5432:5432"
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: todo-backend
    env_file: envs/db.env
    tty: true
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: todo-frontend
    environment:
      - CHOKIDAR_USEPOLLING=true
    #command: npm run serve
    volumes:
      - /app/node_modules
      - ./frontend:/app
    ports:
      - "8080:8080"
    depends_on:
      - backend
